html {
  background: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  opacity: 0.3;
  backdrop-filter: blur(10px);
  color: white;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent !important;
  backdrop-filter: blur(10px);
}

.transparent {
  background-color: transparent !important;
}
